@model POVTAS_OSU.Models.Chair

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Chair</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContactOf.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactOf.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abbreviation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abbreviation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContactId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
