@model POVTAS_OSU.Models.EducationField

@{
    ViewBag.Title = "Create";
}

<h2>Направления подготовки</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Создать новую запись</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label container-sm fw-bold" })
            <div class="container-sm">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>
