@model IEnumerable<POVTAS_OSU.Models.CalendarOfEvent>

@{
    ViewBag.Title = "Index";
}

<h2>Календарь мероприятий</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table text-white">
    <tr>

        @*<th>
            @Html.DisplayNameFor(model => model.Id)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Event)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            Отчет о мероприятии
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>

    @*<td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.Event)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EventReportOf.ReportFile)
    </td>
    <td>
        @Html.ActionLink("Редактирование", "Edit", new { id = item.EventReportId }) |
        @Html.ActionLink("Подробнее", "Details", new { id = item.EventReportId }) |
        @Html.ActionLink("Удалить", "Delete", new { id = item.EventReportId })
    </td>
</tr>
}

</table>
