@model POVTAS_OSU.Models.Classroom

@{
    ViewBag.Title = "Edit";
}

<h2>Аудитории</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Редактирование</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label container-sm fw-bold" })
            <div class="container-sm">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label container-sm fw-bold" })
            <div class="container-sm">
                @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaterialSupportId, "Наименование", htmlAttributes: new { @class = "control-label container-sm fw-bold" })
            <div class="container-sm">
                @Html.DropDownList("MaterialSupportId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaterialSupportId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>
