@model IEnumerable<POVTAS_OSU.Models.Post>

@{
    ViewBag.Title = "Post";
}

<h2>Новости кафедры</h2>

<div>
    @foreach (var item in Model)
    {

        @*<div class="col-md-5">
                <div class="card mb-3 text-black">
                    <img src="@item.Photo" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-start">@Html.DisplayFor(modelItem => item.Description)</h5>
                        <p class="card-text text-start">@Html.DisplayFor(modelItem => item.Description)</p>
                        <p class="card-text text-start"><a href="@item.File">Скачать</a></p>
                        <p class="card-text text-start"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>*@

        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="@item.Photo" class="img-fluid rounded-start" style="max-width:420px;" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body text-black">
                        <h5 class="card-title text-start">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <p class="card-text text-start">@Html.DisplayFor(modelItem => item.Description)</p>
                        @*@if (item.File != null)
                        {<p class="pid card-text text-start"><a href="@item.File">Скачать</a></p>}*@

                       
                        <p class="pid card-text text-start"><a href="@item.File">Скачать файл</a></p>
                        <p class="card-text text-start"><small class="text-muted">Дата публикации: @Html.DisplayFor(modelItem => item.Date)</small></p>
                    </div>
                </div>
            </div>
        </div>
        

    }
</div>

    
<script>
    function DisplayDownloadBtn() {
        var elements = document.getElementsByClassName("pid");
        for (var i = 0; i < elements.length; i++) {
            var href = elements[i].querySelector('.pid a').href;
            if (href == 0) {
                elements[i].style.display = "none";    
            }
        }     
    }
    document.addEventListener("DOMContentLoaded", DisplayDownloadBtn);
</script>


@*<table class="table text-white">
    <tr>
        <th>
            Заголовок
        </th>
        <th>
            Описание
        </th>
        <th>
            Фото
        </th>
        <th>
            Файл
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src="@item.Photo" width="100px" height="110px" />
            </td>
            <td>
                <a href="@item.File">Скачать</a>
            </td>



        </tr>
    }

</table>*@
