@model IEnumerable<POVTAS_OSU.Models.Post>

@{
    ViewBag.Title = "Reports";
}

<h2>Результаты анализа востребованности новостей</h2>

<table class="table text-white">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewsType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewsQuantity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="text-start">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewsQuantity)
            </td>
        </tr>
    }

</table>
