<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кафедра ПОВТАС</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    @* //Ссылка на иконки для вкладки "ChairConsist" *@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    @* //Ссылка на стили для "Преподаватели - подробнее" *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



    @*<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">*@
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
    @*<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">*@
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

</head>
<body class="bg-dark text-white text-center">
    <style>
        #myBtn {
            display: none; /* Hidden by default */
            position: fixed; /* Fixed/sticky position */
            bottom: 20px; /* Place the button at the bottom of the page */
            right: 30px; /* Place the button 30px from the right */
            z-index: 99; /* Make sure it does not overlap */
            border: none; /* Remove borders */
            outline: none; /* Remove outline */
            background-color: transparent; /*Set a background color */
            color: grey; /* Text color */
            cursor: pointer; /* Add a mouse pointer on hover */
            padding: 15px; /* Some padding */
            font-size: 30px; /* Increase font size */
        }

            #myBtn:hover {
                /*background-color: #555;*/ /* Add a dark-grey background on hover */
                color: #7abfff;
                
            }
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../Home/Index">Кафедра ПОВТАС</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">

                <ul class="navbar-nav me-auto">
                    @*<li class="nav-item">
            <a class="nav-link" href="../../Home/Index">Главная</a>
        </li>*@

                    <li class="nav-item">
                        <a class="nav-link" href="../../Home/Posts">Новости</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../Home/Disciplines">Дисциплины</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../Home/Teachers">Коллектив кафедры</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Деятельность кафедры
                        </a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item bg-dark text-light" href="../../Home/EducationalPrograms">Образовательные программы</a>
                            <a class="dropdown-item bg-dark text-light" href="../../Home/ResearchWorkAndActivities">НИР и мероприятия</a>
                            <a class="dropdown-item bg-dark text-light" href="../../Home/StudentsAndAlumnus">Студентам и выпускникам</a>
                            <a class="dropdown-item bg-dark text-light" href="../../Home/Schoolchildren">Школьникам</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../Home/Contact">Контакты</a>
                    </li>

                    @if (User.IsInRole("admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="~/Views/Home/Contact.cshtml" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Админ панель
                            </a>
                            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item bg-dark text-light" href="../../AcademicDegrees/Index">Ученая степень</a></li>
                                <li><a class="dropdown-item bg-dark text-light" href="../../AcademicTitles/Index">Ученое звание</a></li>
                                <li><a class="dropdown-item bg-dark text-light" href="../../Activities/Index">Виды деятельности</a></li>
                                <li><a class="dropdown-item bg-dark text-white" href="../../CalendarOfEvents/Index">Календарь мероприятий</a></li>
                                <li><a class="dropdown-item bg-dark text-white" href="../../ChairConsists/Index">ППС кафедры</a></li>
                                <li><a class="dropdown-item bg-dark text-white" href="../../SupportStaffs/Index">УВП кафедры</a></li>
                                <li><a class="dropdown-item bg-dark text-white" href="../../Classrooms/Index">Аудитории</a></li>
                                <li><a class="dropdown-item bg-dark text-white" href="../../Posts/Index">Новости</a></li>
                                <li><a class="dropdown-item bg-dark text-white" href="../../Contacts/Index">Контакты</a></li>
                                <li><a class="dropdown-item bg-dark text-white" href="../../Disciplines/Index">Дисциплины</a></li>
                                <li><a class="dropdown-item bg-dark text-white" href="../../EducationFields/Index">Направления подготовки</a></li>
                                <li><a class="dropdown-item bg-dark text-white" href="../../MaterialSupports/Index">МТО</a></li>
                                <li><a class="dropdown-item bg-dark text-white" href="../../Positions/Index">Должности</a></li>
                                <li><a class="dropdown-item bg-dark text-white" href="../../DocumentTypes/Index">Тип документа</a></li>
                                <li><a class="dropdown-item bg-dark text-white" href="../../Documents/Index">Документы</a></li>
                                <li><a class="dropdown-item bg-dark text-white" href="../../TechnicalFacilities/Index">Техническое оснащение</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../../Home/Support">Справка</a>
                        </li>
                    }
                    @if (User.IsInRole("head"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="../../Home/Reports">Отчет</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="link-info">@Html.Partial("_LoginPartial")</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    @*//Up-button*@
    <script>
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>
    <button onclick="topFunction()" id="myBtn" title="Go to top">
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-up-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-10.646.354a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 6.207V11a.5.5 0 0 1-1 0V6.207L5.354 8.354z" />
        </svg>
    </button>

    @RenderBody()
    <hr />

    <!-- Footer -->
    <footer class="page-footer font-small blue-grey lighten-5">

        <div style="background-color: #7abfff;">
            <div class="container">

                <!-- Grid row-->
                <div class="row py-4 d-flex align-items-center">

                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0">Присоединяйтесь к нам в социальных сетях!</h6>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-7 text-center text-md-right">

                        <!-- VKontakte -->
                        <a class="link-light" style="text-decoration:none;" href="https://vk.com/fmit_osu">
                            <i class="fa fa-vk white-text mr-4"></i>
                        </a>

                        <!--YouTube -->
                        <a class="link-light" style="text-decoration:none;" href="https://www.youtube.com/channel/UCwsN9ZuuLeGhC5iEyh34C_A">
                            <i class="bi bi-youtube white-text mr-4"></i>
                        </a>
                        <!--Instagram-->
                        <a class="link-light" style="text-decoration:none;" href="https://www.instagram.com/fmit_osu/">
                            <i class="bi bi-instagram white-text"></i>
                        </a>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row-->

            </div>
        </div>

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">

            <!-- Grid row -->
            <div class="row mt-3 dark-grey-text">

                <!-- Grid column -->
                <!--<div class="col-md-3 col-lg-4 col-xl-3 mb-4">-->
                <!-- Content -->
                <!--<h6 class="text-uppercase font-weight-bold">Company name</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>

                    </p>

                </div>-->
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Полезные ссылки</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a class="text-light" href="http://www.osu.ru/doc/90">Олимпиады</a>
                    </p>
                    <p>
                        <a class="text-light" href="http://www.osu.ru/doc/2410">Молодежные научные и научно-технические мероприятия</a>
                    </p>
                    <p>
                        <a class="text-light" href="http://ciscotrain.osu.ru">Сетевая академия CISCO</a>
                    </p>


                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Полезные ссылки</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a class="text-light" href="http://www.osu.ru">Сайт Оренбургского государственного университета</a>
                    </p>
                    <p>
                        <a class="text-light" href="http://abiturient.osu.ru">Абитуриенту @DateTime.Now.Year</a>
                    </p>
                    <p>
                        <a class="text-light" href="http://artlib.osu.ru/site_new/">Научная библиотека ОГУ</a>
                    </p>


                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Контакты</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="bi-geo-alt-fill mr-3"></i> Оренбург, Проспект Победы 13, аудитория 1222
                    </p>
                    <p>
                        <i class="bi bi-envelope-fill mr-3"></i> povtas@mail.osu.ru
                    </p>
                    <p>
                        <i class="bi bi-telephone-inbound-fill mr-3"></i> 8 (3532) 37-25-54
                    </p>
                    <p>
                        <i class="bi bi-telephone-inbound-fill mr-3"></i> 21-35 (внутренний)
                    </p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center text-black py-3">

            <p>&copy; @DateTime.Now.Year – официальный сайт кафедры ПОВТАС ©  </p>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    @*<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>*@
    @Scripts.Render("~/Scripts/bootstrap.js")
    @RenderSection("scripts", required: false)
</body>

</html>
