@model IEnumerable<POVTAS_OSU.Models.ChairConsist>

@{
    ViewBag.Title = "Index";
}

<h2>Состав кафедры</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table table-hover">
    <tr style="background-color: #7abfff; ">
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            ФИО
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcademicDegree.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcademicTitle.Title)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.WorkExperience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeachingExperience)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Education)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Activity.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emails)
        </th>




        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="table-light">
                <img src="@item.Photo" width="100 vh" height="130 vw" />
            </td>
            <td class="table-light">
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td class="table-light">
                @Html.DisplayFor(modelItem => item.Position.Title)
            </td>
            <td class="table-light">
                @Html.DisplayFor(modelItem => item.AcademicDegree.Title)
            </td>
            <td class="table-light">
                @Html.DisplayFor(modelItem => item.AcademicTitle.Title)
            </td>
            <td class="table-light years">
                @Html.DisplayFor(modelItem => item.WorkExperience)
            </td>
            <td class="table-light years">

                @Html.DisplayFor(modelItem => item.TeachingExperience)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Education)
                </td>*@


            <td class="table-light">
                @Html.DisplayFor(modelItem => item.Activity.Title)
            </td>
            <td class="table-light">
                @Html.DisplayFor(modelItem => item.Emails)
            </td>

            <td class="table-light">
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>

        

    }

</table>

<script>

    function plural() {
        let elements = document.getElementsByClassName("years");
        for (var i = 0; i < elements.length; i++) {
            let m = elements[i].innerText;
            elements[i].innerText = m + ' ' + ((((m % 10) == 1) && ((m % 100) != 11)) ? ("год") : (((((m % 10) >= 2) && ((m % 10) <= 4)) && (((m % 100) < 10) || ((m % 100) >= 20))) ? ("года") : ("лет")))
        }
    }

    document.addEventListener("DOMContentLoaded", plural);

</script>
