@model IEnumerable<POVTAS_OSU.Models.Document>

@{
    ViewBag.Title = "Index";
}

<h2>Документы</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table table-hover">
    <tr style="background-color: #7abfff;">
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.File)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ChairId)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="table-light">
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td class="table-light">
            @Html.DisplayFor(modelItem => item.DocumentType)
        </td>
        <td class="table-light">
            @Html.DisplayFor(modelItem => item.DocumentDate)
        </td>
        <td class="table-light">
            @Html.DisplayFor(modelItem => item.DocumentNumber)
        </td>
        <td class="table-light">
            <a href="@item.File">Скачать</a>
        </td>
        
        <td class="table-light">
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
           
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
